@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700);
@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700);

@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700);

@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700);

//$title-typo: 'Quicksand', sans-serif;
$title-typo: 'IBM Plex Sans', sans-serif;
* {
    font-family: $title-typo;
    margin: 0;
    padding: 0;
}

body {
    background: hsla(213, 62%, 45%, 1);
    background: linear-gradient(
        300deg,
        hsla(213, 62%, 45%, 1) 0%,
        hsla(203, 89%, 71%, 1) 50%,
        hsla(0, 0%, 96%, 1) 100%
    );
    padding: 2.5vh 1rem;
    height: 95vh;
}

main {
    background-color: white;
    background-image: url('../media/bg/groovepaper.png');
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 13px 25px -2px rgba(0, 0, 0, 0.38);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem 0;

    h1 {
        letter-spacing: -2px;
        font-weight: 600;
        font-size: 2.5rem;
        color: hsl(0, 0%, 15%);
    }

    h2 {
        //letter-spacing: -1px;
        font-weight: 500;
        font-size: 2rem;
        color: hsl(0, 0%, 15%);
        margin-top: 1rem;
    }
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;

    a {
        text-decoration: none;
        background-color: rgb(59, 31, 161);
        padding: 1rem;
        color: white;
        border-radius: 6px;
        border: none;
        transition: 0.2s;
        transform: rotate(0deg);
        font-weight: 500;

        &:hover {
            transition: 0.2s;
            filter: brightness(1.5);
        }

        &:hover .fa-plus-circle {
            transition: 0.3s;
            transform: rotate(180deg);
        }
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li {
            list-style: none;

            a {
                color: black;
                border-radius: 6px;
                text-decoration: none;
                transition: 0.5s;
                background-color: red;
                cursor: pointer;

                &:hover {
                    background-color: white;
                    filter: saturate(10%);
                }
            }
        }
    }
}

article {
    margin: 1rem 0.5rem;

    .task-viewer {
        border-radius: 6px;
        background-color: rgba(78, 78, 78, 0.068);
        border-top: 1px dashed rgb(180, 180, 180);
        border-bottom: 1px dashed rgb(180, 180, 180);
        padding: 0.3rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .task {
            background-color: rgb(255, 255, 255);
            border-radius: 6px;
            width: 85%;
            padding: 0.5rem;
            margin: 0.5rem 0;

            .task-header {
                padding: 0.5rem;
                color: white;

                &.important {
                    background-color: rgb(202, 39, 39);
                }
                &.medium {
                    background-color: rgb(240, 214, 68);
                }
                &.little {
                    background-color: rgb(39, 202, 93);
                }
            }
        }
    }
}

.active {
    transition: 0.3s;
    border-bottom: 5px solid rgb(0, 153, 255);
    border-radius: 0px 0px 5px 5px;
}

.hide {
    display: none;
}
